# Inputs & outputs
inputf.in
outputf.in
outputf.out

# Scratch / Unfinished scripts
practice.cpp
Grid_Path_Description.cpp
Minimal_grid_Path.cpp


# Binaries and executables
*.exe
*.o
*.obj
*.out
*.exe.stackdump
*.txt

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
