# Inputs & outputs
inputf.in
outputf.in
outputf.out

# Scratch / Unfinished scripts
practice.cpp
Edit_Distance.cpp
Grid_Path_Description.cpp


# Binaries and executables
*.exe
*.o
*.obj
*.out
*.exe.stackdump
.txt

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
